:root {
    --primary-color : #003973;
    --secondary-color : #e5e5be;

    --text-color : black;

    --main-gradient: linear-gradient(135deg, var(--primary-color),var(--secondary-color));

    --base-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--main-gradient);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



