
aside {
    text-align: center;
    padding: 50px 50px 15px;
    background: inherit;

}

h3 {
    padding-bottom: 10px;
}

p {
    font-weight: 500;
}

footer {
    background: #003973;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

/*TODO: take care of list ordering if
   list is added*/
/*li {*/
/*    justify-content: center;*/
/*    display: inline ;*/
/*    list-style-type: armenian;*/
/*}*/

/*@media  (max-width:725px ) {*/
/*    li {*/
/*        display: block;*/
/*    }*/
/*}*/