
aside {
    text-align: center;
    padding: 50px 50px 15px;
    background: inherit;

}

h3 {
    padding-bottom: 10px;
}

p {
    font-weight: 500;
}

footer {
    background: #003973;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

* {
    margin: 0;
}


/*li {*/
/*    justify-content: center;*/
/*    display: inline ;*/
/*    list-style-type: armenian;*/
/*}*/

/*@media  (max-width:725px ) {*/
/*    li {*/
/*        display: block;*/
/*    }*/
/*}*/