.navbar {
    display: flex;
    max-height: 40px;
    align-items: center;
    padding: 15px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.hamburger {
    display: none;
}


* {
    margin: 0;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    font-family: "DejaVu Serif", serif;
    color: #007bff;
    margin-right: 35px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;

}

.nav-links a {
    text-decoration: none;
    color: #495057;
}

.nav-links a:hover {
    color: #007bff;
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #f8f9fa;
    /*padding-left: 10px;*/
    justify-content: center;
    flex-grow: 1;
}

.search-container input {
    flex-grow: 1;
    min-width: 150px;
    max-width: 200px;
}

.search-container button {
    white-space: nowrap;
}

.account-icon {
    margin-left: auto;

}

@media (max-width: 768px ){

    .navbar {
        min-height: 40px;
        /*position: relative;*/

    }

    .hamburger {
        display: block;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .nav-links {
        display: none;
    }

    .nav-links.show-links {
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa;
        padding: 0 10px;
        gap: 10px;
        border-radius: 10px 10px 10px 0;
        position: absolute;
        top: 40px;
        left: 5%;
        align-items: center;
        width: 35%;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        cursor: pointer;
    }

    .nav-links ul {
        margin: 0;
    }



    .nav-links li {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        width: 100%;
        align-items: start;
    }

    .nav-links a {
        display: block;
    }

    .nav-links li:hover {
        background: #0074D9;
    }

    .search-container {
        display: none;

    }


    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


